.banner {
    z-index: 1500;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 0;
    max-width: 500px;

    // Uncomment the following line to trigger a warning in the linter:
    // min-height: 0px;
}
