.vs/
obj/
bin/
artifacts/
wwwroot/
node_modules/
Lombiq.NodeJs.Extensions.Samples/wwwwNonDefaultCssFolder/
Lombiq.NodeJs.Extensions.Samples/wwwCustomRoot/
*.user
.pnpm-debug.log
.editorconfig

# This file is created when we install ESLint support packages in the solution root. We don't want anyone to care about it.
/Lombiq.NodeJs.Extensions/config/consumer/pnpm-lock.yaml
