; See https://pnpm.io/cli/run#shell-emulator for details.
; Note: shell-emulator and auto-install-peers are pnpm-specific configs. They will show warnings when running npm but
; are safe to ignore.
shell-emulator = true

; Print as few commands to the console as possible.
loglevel = warn

; Fixing "missing package" error for airbnb eslint config.
auto-install-peers = true

