; See https://pnpm.io/cli/run#shell-emulator for details.
shell-emulator = true

; Print as few commands to the console as possible.
loglevel = warn

; Fixing "missing package" error for airbnb eslint config.
auto-install-peers = true

; Don't use hardlinks, because they cause concurrency problems on Windows.
; See https://pnpm.io/npmrc#package-import-method for details.
package-import-method = clone-or-copy
